/* Estilos globais aplicados a todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #565656;
}

body {
  background-color: #CFEBFF;
}
