.main {
    padding-top: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto; /* Altera para scroll apenas no eixo Y */
    padding-bottom: 20px;
  }
